{{ ansible_managed | comment }}

## PXC 5.7 logrotate setting
{% set _error_log = (__pxc_combined_mycnf_settings['log-error'] | default('/var/log/mysql/error.log') ) %}
{% set _slow_query_log = (__pxc_combined_mycnf_settings['slow_query_log_file'] | default('/var/log/mysql/mysql-slow.log') ) %}

{{ _error_log }} {{ _slow_query_log }} {
    daily
    rotate 60
    missingok
    create 640 mysql adm
    compress
    delaycompress
    sharedscripts
    dateext
    postrotate
        test -x /usr/bin/mysqladmin || exit 0
        MYADMIN="mysqladmin --defaults-file=/etc/mysql/logrotate/logflush_login.cnf"
        if [ -z "$($MYADMIN ping 2>/dev/null)" ]; then
            if ps cax | grep -q mysqld; then
                exit 1
            fi
        else
            $MYADMIN flush-logs
        fi
    endscript
}
