!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/percona-xtradb-cluster.conf.d/

[mysqld]
## clustering_settings
{% if pxc_is_clustered | bool %}
{% for item in (__pxc_combined_clustering_settings | dictsort(by='key')) %}{% set key = item[0] %}{% set value = item[1] %}
{{ key }} = {{ value }}
{% endfor %}
{% else %}
{% for item in (__pxc_combined_clustering_settings | dictsort(by='key')) %}{% set key = item[0] %}{% set value = item[1] %}
#{{ key }} = {{ value }}
{% endfor %}
{% endif %}


## mycnf_settings
{% for item in (__pxc_combined_mycnf_settings | dictsort(by='key')) %}{% set key = item[0] %}{% set value = item[1] %}
{% if value is iterable and value is not string %}
{% for inValue in value %}
{{ key }} = {{ inValue }}
{% endfor %}
{% else %}
{{ key }} = {{ value }}
{% endif %}
{% endfor %}


## general_settings
{% for item in (__pxc_combined_general_settings | dictsort(by='key')) %}{% set key = item[0] %}{% set value = item[1] %}
{{ key }} = {{ value.value | default(value) }}
{% endfor %}


[mysqld_safe]
flush_caches = {{ pxc_enable_innodb_numa_interleave }}
